/* styles.css */

/* Дополнительный медиа-запрос для iPhone 13 (ширина 390px) */
@media (max-width: 390px) {
    header h1 {
        font-size: 1.2rem; /* Делаем заголовок меньше для узких экранов */
    }

    nav ul {
        font-size: 2rem; /* Уменьшаем шрифт навигационного меню */
    }

    .about-wrapper {
        padding: 1rem;
    }

    .about-wrapper .about-left h2,
    .about-wrapper .about-right h2 {
        font-size: 0.3rem; /* Заголовки уменьшаем еще больше для мобильных */
    }

    /* Текст под заголовками в блоке about */
    .about-wrapper .about-left p,
    .about-wrapper .about-right p {
        font-size: 0.2rem; /* Уменьшаем размер текста */
    }

    .services-wrapper .service p {
        font-size: 0.9rem; /* Уменьшаем шрифт в блоках услуг */
    }

    .service img {
        width: 70%; /* Картинки растягиваем по ширине экрана */
    }

    .pricing-wrapper .pricing h2 {
        font-size: 0.5rem; /* Уменьшаем размер заголовка в блоке pricing */
    }
    
    .faq-item h3 {
        font-size: 1.1rem; /* Чуть меньший шрифт для заголовков вопросов */
    }

    footer p {
        font-size: 0.8rem; /* Уменьшаем текст в футере */
    }

    section {
        padding: 1rem 0.5rem; /* Уменьшаем отступы секций */
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.6;
}

header {
    background: #000;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff6347;
}

section {
    padding: 3rem 2rem;
    text-align: center;
}

/* Убираем отступы между секциями */
section {
    margin: 0;
    padding: 0;
}

/* Стиль для блока ПРИМЕРЫ */
#portfolio {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    position: relative;
}

#portfolio h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: scroll 0.3s ease-in-out;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
}

.gallery::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.gallery .photo {
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto; /* To make the images not shrink */
}

.gallery .photo img {
    max-width: 100%;
    max-height: 400px; /* Ограничение по высоте */
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery .photo:hover {
    transform: scale(1.05);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 252, 252, 0);
    color: #222121;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 10;
    border-radius: 50%;
}

.arrow.left {
    left: 10px; /* Adjust the position */
}

.arrow.right {
    right: 10px; /* Adjust the position */
}

.arrow:focus {
    outline: none;
}

/* Стиль для блока ЧТО Я СНИМАЮ */
#about {
    background-color: #dccea3;
    padding: 3rem 0;
    text-align: left;
}

.about-wrapper {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.about-left,
.about-right {
    margin-bottom: 2rem; /* Отступы между блоками */
    width: 100%; /* Блоки будут занимать всю ширину */
}

.about-left h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.about-left p {
    font-size: 0.5rem;
    color: #666;
}

.about-right h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about-right p {
    font-size: 0.5rem;
    line-height: 1.6;
    color: #666;
}

/* Стиль для блока ПОРТФОЛИО */
#services {
    background-color: #fff;
    padding: 3rem 0;
    text-align: center;
}

#services h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.service {
    flex: 0 0 30%;
    margin-bottom: 2rem;
}

.service img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.service button {
    padding: 0.7rem 1.5rem;
    background-color: #b5a368;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.service button:hover {
    background-color: #575036;
}

/* Стиль для блока БЭКГРАНУД */
#block1 {
    width: 80%; /* Ширина блока */
    height: 400px; /* Высота блока */
}

#block2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://i.imgur.com/5yeBVeM.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Отправляем блок за другие элементы */
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

#block2.active {
    transform: translateY(0);
}

/* Стиль для блока СТОИМОСТЬ УСЛУГ */
#pricing {
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    padding-bottom: 2rem;
}

#pricing h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

#pricing button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #b5a368;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#pricing button:hover {
    background-color: #575036;
}

/* Стиль для блока FAQ */
#faq {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem;
    margin-bottom: 0; /* Убедимся, что нет внешнего отступа снизу */
}

#faq h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: left;
}

.faq-item {
    margin-bottom: 1.5rem;
}

.faq-item h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.faq-item .faq-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.faq-item .faq-toggle:focus {
    outline: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin: 0;
}

.faq-item.active .faq-answer {
    max-height: 500px; /* Достаточно большое значение, чтобы вмещать текст */
    
}

.faq-item.active i {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0.2rem 0; /* Уменьшаем отступы между абзацами */
    line-height: 1.2; /* Оптимизируем высоту строки */
}